#open-login {
    background-color: rgba(255, 49, 49, 1);
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: 48px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
    margin-top: 95px;
    font-size: 14px;
    
}
#open-login:hover{
    background-color: #696969;
}

.pp-login {
    z-index: 9999;
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #F1EEE7;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.pp-login.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.pp-login .close-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 20px;
   height: 20px;
   background: aliceblue;
   border-radius: 50%;
   color: black;
   text-align: center;
   line-height: 20px ;
   cursor: pointer;
   font-weight: 600;
}
.pp-login .close-btn:hover {
    background-color: #D8D8D8;
}
.pp-login h2 {
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 20px;
}
.pp-login .element {
    margin: 15px 0px;
}

.pp-login .form .element input[type="tel"],
.pp-login .form .element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.pp-login .form .element button {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: #1877F2;
    color: #fff;
    cursor: pointer;
}
.pp-login .form .element a {
    display: block;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: #1877F2;
}
.pp-login .form .element a:hover {
    color: #4B4F56;
}
.pp-login .form .element button:hover {
    background-color: #3300FF;
}
.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
}
.pp-login .form .element #new-account {
    background-color: #42B72A;
    color: #fff;
    margin-top: 15px;
}
