* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(234, 190, 190, 1);

}
header {
    width: 100%;
    height: 150px;
    background-color: rgba(241, 238, 231, 1);
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
}
.menu li {
    float: right;
    margin-top: 95px;
}
.menu li a{
    display: block;
    list-style-type: none;
    text-decoration: none;
    padding: 14px 16px;
    color: #4B4F56;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);    
}
.menu li a:hover {
    background: #D8D8D8;
}
.menu button:hover {
    background-color: #696969;
}
.menu button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #c9c9c9;
    cursor: pointer;
    overflow: hidden;
    
    margin-top: 95px;
    margin-right: 18px;
}
.menu button i {
    font-size: 30px;
    
}
.alert {
    float: right;
} 
.profile {
    margin-left: 20px;
    float: right
}
img {
    float:left;
    width: 180px; 
    height: 150px;
}


/*ข้อมูลร้าน*/
.reserve {
    width: 98%;
    background-color: rgba(241, 238, 231, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
}
.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
}
.reserve p {
    padding: 15px 20px;
    color: #4B4F56;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;   
}

h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"]{
    width: 25rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.box {
    display: flex;
}
.box1, .box2 {
    margin: 25px;
}
.p  {
    margin: 2rem;
}
.p p {
    font-size: 20px;
    color: red;
}